<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chn.cookies">
    <!-- 允许应用程序向外部存储写入数据，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序读取外部存储数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许应用程序只读访问手机状态  -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许应用程序访问网络，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用程序获取WiFi网络的信息，WiFi信息会用于网络定位功能中 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序访问有关网络的信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许应用程序改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许应用程序访问精确位置，通过GPS进行定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 允许应用程序访问近似位置，通过网络进行定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 允许应用程序震动，用于草图编辑器功能 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许应用程序开启悬浮框 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cookies">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cookies.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.navi.DemoActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".flexbox.activity.LabelActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cookies.NoActionBar">
        </activity>
        <activity android:name=".flexbox.activity.CenterGridActivity"
            android:theme="@style/Theme.Cookies.NoActionBar" />

        <activity android:name=".flexbox.activity.PayActivity"
            android:theme="@style/Theme.Cookies.NoActionBar" />

        <activity android:name=".flexbox.activity.CookiesActivity"
            android:theme="@style/Theme.Cookies.NoActionBar" />

        <activity android:name=".flexbox.activity.SettingActivity"
            android:theme="@style/Theme.Cookies.NoActionBar" />

        <activity android:name=".login.LoginActivity"
            android:theme="@style/Theme.Cookies.NoActionBar" />

        <activity android:name="com.chn.weather.WeMainActivity"
            android:theme="@style/Theme.Cookies.NoActionBar" />

        <activity android:name="com.chn.weather.WeatherActivity"
            android:theme="@style/Theme.Cookies.NoActionBar" />

        <activity android:name="com.chn.zxing.android.CaptureActivity"
            android:theme="@style/Theme.Cookies.NoActionBar" />

    </application>

</manifest>